body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;

}

.orange-color {
  color: orange;
}

h1 {
  font-size: 30px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(0, 255, 255), tomato);
  color: white;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 22px;
}


.half-width img {
  width: 75%;
}

.top-banner {
  background-image: url(Images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  margin-bottom: 150px;
}

.center_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-button {
  width: 135px;
  text-align: center;
}

.int-container {
  box-shadow: 10px 10px 10px gray;
  width: 80%;
  background-color: solid;
  padding: 20px;
  margin: 5%;
  border: solid gray;
  border-radius: 20x;
}

.int-container {
  box-shadow: 10px 10px 10px gray;
  width: 80%;
  background-color: solid;
  padding: 20px;
  margin: 5%;
  border: solid gray;
  border-radius: 20px;
}

.int-container {
  box-shadow: 10px 10px 10px gray;
  width: 80%;
  background-color: solid;
  padding: 20px;
  margin: 5%;
  border: solid gray;
  border-radius: 20px;
}